<div class="title">
  <div class="text">
    <p>
      <b>Тип</b>
    </p>
  </div>
  <div class="price">
    <p>
      <b>Цена</b>
    </p>
  </div>
  <div class="arrive">
    <p>
      <b>Дата заезда</b>
    </p>
  </div>
  <div class="arrive">
    <p>
      <b>Дата выезда</b>
    </p>
  </div>
  <div class="present">
    <p>
      <b>В наличии</b>
    </p>
  </div>
  <div>
    <p style="width: 110px;">
      <b>Взрослых</b>
    </p>
  </div>
  <div>
    <p style="width: 110px;">
      <b>Детей</b>
    </p>
  </div>
  <div>
    <p style="width: 110px;">
      <b>Номеров</b>
    </p>
  </div>
</div>
<div class="content">
  <div class="block" *ngFor="let element of array; let i = index">
    <div class="text">
      <p>{{element.type}}</p>
    </div>
    <div class="price">
      <nz-input-group [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input value="{{element.price}}{{element.uzc}}" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <!-- <button nz-button nzType="primary" nzSearch (click)="edit(element)"> -->

        <!-- <i nz-icon type="edit" nzTheme="outline"> -->
        <nz-date-picker [(ngModel)]="date3" (ngModelChange)="edit(element)">
          <!-- <i nz-icon type="edit" nzTheme="outline"></i> -->
        </nz-date-picker>
        <!-- </i> -->
        <!-- </button> -->
      </ng-template>
    </div>
    <div class="arrive">
      <p>23.03.2019</p>
    </div>
    <div class="arrive">
      <p>23.02.2019</p>
    </div>
    <div class="present">
      <p>{{element.present}}</p>
    </div>
    <div>
      <nz-select style="width: 110px" nzAllowClear>
        <nz-option nzValue="1" nzLabel="1"></nz-option>
        <nz-option nzValue="2" nzLabel="2"></nz-option>
        <nz-option nzValue="0" nzLabel="3"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-select style="width: 110px" nzAllowClear>
        <nz-option nzValue="1" nzLabel="1"></nz-option>
        <nz-option nzValue="2" nzLabel="2"></nz-option>
        <nz-option nzValue="0" nzLabel="3"></nz-option>
      </nz-select>
    </div>
    <div>
      <nz-select (ngModelChange)="changeSelect(i)" [ngModel]="selectValue" style="width: 110px" nzAllowClear>
        <nz-option nzValue="1" nzLabel="1"></nz-option>
        <nz-option nzValue="2" nzLabel="3"></nz-option>
        <nz-option nzValue="0" nzLabel="2"></nz-option>
      </nz-select>
    </div>
    <div>

      <button nz-button nzType="primary" *ngIf="!element.buttonActive" disabled>Добавить</button>
      <button nz-button nzType="primary" *ngIf="element.buttonActive" (click)="sum(element)">Добавить</button>
    </div>
  </div>
</div>

<div *ngIf="payment" class="payment-block">
  <div class="payment">
    <div>
      <p>Итого</p>
    </div>
    <div>
      <p class="summery">
        <b>$</b>
        <b>{{pay}}</b>
      </p>
    </div>
  </div>
  <div class="payment-buttons payment">
    <button nz-button nzType="default" (click)="delete()">Отмена</button>
    <button nz-button nzType="primary"> Сохранить</button>
  </div>
</div>

<div class="block" *ngFor="let room of choose; let y = index">
  <div class="text">
    <p>{{room.type}}</p>
  </div>
  <div class="price">
    <nz-input-group [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input value="{{room.price}}{{room.uzc}}" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <!-- <button nz-button nzType="primary" nzSearch (click)="edit(element)"> -->

      <!-- <i nz-icon type="edit" nzTheme="outline"> -->
      <nz-date-picker [(ngModel)]="date3" (ngModelChange)="edit(room)">
        <!-- <i nz-icon type="edit" nzTheme="outline"></i> -->
      </nz-date-picker>
      <!-- </i> -->
      <!-- </button> -->
    </ng-template>
  </div>
  <div class="arrive">
    <p>23.03.2019</p>
  </div>
  <div class="arrive">
    <p>23.02.2019</p>
  </div>
  <div class="present">
    <p>{{room.present}}</p>
  </div>
  <div>
    <nz-select style="width: 110px" nzAllowClear>
      <nz-option nzValue="1" nzLabel="1"></nz-option>
      <nz-option nzValue="2" nzLabel="2"></nz-option>
      <nz-option nzValue="0" nzLabel="0"></nz-option>
    </nz-select>
  </div>
  <div>
    <nz-select style="width: 110px" nzAllowClear>
      <nz-option nzValue="1" nzLabel="1"></nz-option>
      <nz-option nzValue="2" nzLabel="2"></nz-option>
      <nz-option nzValue="0" nzLabel="0"></nz-option>
    </nz-select>
  </div>
  <div>
    <nz-select (ngModelChange)="changeSelect1(y)" [ngModel]="selectValue1" style="width: 110px" nzAllowClear>
      <nz-option nzValue="1" nzLabel="1"></nz-option>
      <nz-option nzValue="2" nzLabel="3"></nz-option>
      <nz-option nzValue="0" nzLabel="0"></nz-option>
    </nz-select>
  </div>
  <div>

    <button nz-button nzType="primary" *ngIf="!room.buttonActive" disabled>Добавить</button>
    <button nz-button nzType="primary" *ngIf="room.buttonActive" (click)="sum1(room)">Добавить</button>
  </div>
</div>