.title {
    display: flex;
    justify-content: space-around;
    padding: 1% 5% 1% 1%;
    width: 98%;
}

.title div {
    /* margin-left: 1%; */
    margin-bottom: 1%;
    font-size: 14px;
    line-height: 21px;
}

.block {
    display: flex;
    justify-content: space-around;
}

.block div {

    /* margin-left: 1%; */
    margin-bottom: 1%;
}

.text {
    width: 20%;
}

.price {
    width: 12%
}

.arrive {
    width: 10%;
    text-align: center;
}

.present {
    width: 7%;
    /* text-align: center; */
}

.payment-block {
    display: flex;
    justify-content: space-between;
}

.payment {
    display: flex;
    padding: 1% 3%;
    width: 75%;
    margin-top: 3%;
    background: #FAFAFA;
    border-radius: 4px;
}

.payment div {
    width: 15%;
}

.summery {
    color: #1890FF;
}

.summery b {
    color: #1890FF;
}

.payment-buttons {
    width: 17%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

.payment-buttons button {
    margin-left: 7%;
}