<div class="room-number-info ">
  <div>
    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8 21.6502H34C34.2761 21.6502 34.5 21.874 34.5 22.1502V25.0502C34.5 25.3263 34.2761 25.5502 34 25.5502H8C7.72386 25.5502 7.5 25.3263 7.5 25.0502V22.1502C7.5 21.8741 7.72386 21.6502 8 21.6502Z"
        stroke="#D9D9D9" />
      <path d="M9.80005 26.0502V29.5502" stroke="#D9D9D9" />
      <path d="M32.2 26.0502V29.5502" stroke="#D9D9D9" />
      <path d="M32.2 21.1502V15.4502C32.2 14.3456 31.3046 13.4502 30.2001 13.4502H11.8C10.6955 13.4502 9.80005 14.3456 9.80005 15.4502V21.1502"
        stroke="#D9D9D9" />
      <path d="M29.4004 21.8501V19.3501C29.4004 18.7978 28.9527 18.3501 28.4004 18.3501H23.4004C22.8481 18.3501 22.4004 18.7978 22.4004 19.3501V21.8501"
        stroke="#D9D9D9" />
      <path d="M19.6001 21.8502V19.3502C19.6001 18.7979 19.1524 18.3502 18.6001 18.3502H13.6001C13.0478 18.3502 12.6001 18.7979 12.6001 19.3502V21.8502"
        stroke="#D9D9D9" />
      <circle cx="20.5" cy="20.5" r="20" stroke="#D9D9D9" />
    </svg>
  </div>
  <p>Добавьте номера, чтобы начать бронирование</p>
</div>