.room-number-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 10%;
    height: 184px;
}

.room-number-info div {
    margin-bottom: 5%;
}

p {
    text-align: center;
    width: 65%;
}