/* You can add global styles to this file, and also import other style files */
.ant-input-group-addon {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ant-input-group-addon {
    border: 0;
}