.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: 10px;
    width: 10%;
}

.logo div h2 {
    margin-top: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 63px;
}

.menu div {
    padding: 2%;
}

.menu div a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.65);
}

.choose {
    border-bottom: 2px solid #1890FF;
}

.choose a {
    color: #1890FF !important;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    margin-right: 20px;
}

.icons div {
    width: 38px;
}

.circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: #F0F2F5;
    padding-top: 4%;
    height: 100vh;
}

.title {
    display: flex;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.title-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 10px;
    width: 20%;
    margin-left: 5%;
}

.title-steps {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.title-steps svg {
    margin-left: 3%;
}

.content {
    width: 95%;
    margin: auto;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 0 2% 3%;
}

.column {
    width: 15%
}

.column p {
    font-size: 14px;
    line-height: 21px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2%;
}

.info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 2%;
}

.first {
    width: 20%;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}

.second {
    width: 75%;
    background: #FAFAFA;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 5%;
}

.room-number-text {
    height: 47px;
    /* border-bottom: 1px solid #D9D9D9; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-number-text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 10px;
}

.payment {
    display: flex;
    justify-content: space-between;
    padding: 1% 3%;
    width: 75%;
    margin-top: 3%;
    background: #FAFAFA;
    border-radius: 4px;
}

.payment b {
    color: #000000;
}

.summery {
    color: #1890FF;
}

.summery b {
    color: #1890FF;
}

.button-next {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.search-btn {
    width: 180px;
}

.room-number-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 184px;
    border-top: 1px solid #D9D9D9;
}

.title b {
    color: #1890FF;
    margin-left: 1%;
    margin-right: 1%;
}

.title-block {
    width: 45%;
}