<div class="header">
  <div class="logo">
    <div>
      <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div>
      <h2>
        <b>SmartBooking</b>
      </h2>
    </div>
  </div>
  <div class="menu">
    <div class="block">
      <a href="">Главная</a>
    </div>
    <div class="choose">
      <a href="">Календарь</a>
    </div>
    <div>
      <a href="">Тарифы и наличие мест</a>
    </div>
    <div>
      <a href="">Брони и заявки</a>
    </div>
    <div>
      <a href="">Турагества</a>
    </div>
    <div>
      <a href="">Гостиница</a>
    </div>
  </div>
  <div class="icons">
    <div>
      <i nz-icon type="home" nzTheme="outline"></i>
    </div>
    <div>
      <i nz-icon type="bell" nzTheme="outline"></i>
    </div>
    <div class="circle">
      <i nz-icon type="user" nzTheme="outline"></i>
    </div>
  </div>
</div>
<div class="main">
  <div class="title">
    <div class="title-text">
      <p>Создание новой брони</p>
    </div>
    <div class="title-steps">

      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
          fill="#1890FF" />
        <path d="M17.0483 21H15.9409V13.877C15.9409 13.2845 15.9591 12.724 15.9956 12.1953C15.8999 12.291 15.7928 12.3913 15.6743 12.4961C15.5558 12.6009 15.0135 13.0452 14.0474 13.8291L13.4458 13.0498L16.0913 11.0059H17.0483V21Z"
          fill="white" />
      </svg>

      <svg width="100" height="1" viewBox="0 0 100 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="100" height="1" fill="#1890FF" />
      </svg>

      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.5 16C31.5 24.5604 24.5604 31.5 16 31.5C7.43959 31.5 0.5 24.5604 0.5 16C0.5 7.43959 7.43959 0.5 16 0.5C24.5604 0.5 31.5 7.43959 31.5 16Z"
          stroke="black" stroke-opacity="0.15" />
        <path d="M19.4136 21H12.8442V20.0225L15.4761 17.377C16.2782 16.5658 16.8068 15.987 17.062 15.6406C17.3172 15.2943 17.5086 14.957 17.6362 14.6289C17.7638 14.3008 17.8276 13.9476 17.8276 13.5693C17.8276 13.0361 17.6659 12.6146 17.3423 12.3047C17.0187 11.9902 16.5698 11.833 15.9956 11.833C15.5809 11.833 15.1867 11.9014 14.813 12.0381C14.4438 12.1748 14.0314 12.4232 13.5757 12.7832L12.9741 12.0107C13.8947 11.2451 14.8973 10.8623 15.9819 10.8623C16.9207 10.8623 17.6567 11.1038 18.1899 11.5869C18.7231 12.0654 18.9897 12.7103 18.9897 13.5215C18.9897 14.1549 18.812 14.7816 18.4565 15.4014C18.1011 16.0212 17.4357 16.805 16.4604 17.7529L14.2729 19.8926V19.9473H19.4136V21Z"
          fill="black" fill-opacity="0.25" />
      </svg>

      <svg width="100" height="1" viewBox="0 0 100 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="100" height="1" fill="black" fill-opacity="0.15" />
      </svg>

      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.5 16C31.5 24.5604 24.5604 31.5 16 31.5C7.43959 31.5 0.5 24.5604 0.5 16C0.5 7.43959 7.43959 0.5 16 0.5C24.5604 0.5 31.5 7.43959 31.5 16Z"
          stroke="black" stroke-opacity="0.15" />
        <path d="M19.0376 13.3574C19.0376 13.9954 18.8576 14.5173 18.4976 14.9229C18.1421 15.3285 17.6362 15.5996 16.98 15.7363V15.791C17.7821 15.8913 18.3768 16.1465 18.7642 16.5566C19.1515 16.9668 19.3452 17.5046 19.3452 18.1699C19.3452 19.1224 19.0148 19.8561 18.354 20.3711C17.6932 20.8815 16.7544 21.1367 15.5376 21.1367C15.009 21.1367 14.5236 21.0957 14.0815 21.0137C13.644 20.9362 13.2179 20.7972 12.8032 20.5967V19.5166C13.2362 19.7308 13.6965 19.8949 14.1841 20.0088C14.6763 20.1182 15.1411 20.1729 15.5786 20.1729C17.3058 20.1729 18.1694 19.4961 18.1694 18.1426C18.1694 16.9303 17.217 16.3242 15.312 16.3242H14.3276V15.3467H15.3257C16.105 15.3467 16.7225 15.1758 17.1782 14.834C17.634 14.4876 17.8618 14.0091 17.8618 13.3984C17.8618 12.9108 17.6932 12.528 17.356 12.25C17.0233 11.972 16.5698 11.833 15.9956 11.833C15.5581 11.833 15.1457 11.8923 14.7583 12.0107C14.3709 12.1292 13.9289 12.348 13.4321 12.667L12.8579 11.9014C13.2681 11.5778 13.7397 11.3249 14.2729 11.1426C14.8107 10.9557 15.3758 10.8623 15.9683 10.8623C16.939 10.8623 17.6932 11.0856 18.231 11.5322C18.7687 11.9743 19.0376 12.5827 19.0376 13.3574Z"
          fill="black" fill-opacity="0.25" />
      </svg>

      <svg width="100" height="1" viewBox="0 0 100 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="100" height="1" fill="black" fill-opacity="0.15" />
      </svg>

      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.5 16C31.5 24.5604 24.5604 31.5 16 31.5C7.43959 31.5 0.5 24.5604 0.5 16C0.5 7.43959 7.43959 0.5 16 0.5C24.5604 0.5 31.5 7.43959 31.5 16Z"
          stroke="black" stroke-opacity="0.15" />
        <path d="M19.8853 18.7031H18.4019V21H17.3149V18.7031H12.4546V17.7119L17.1987 10.9512H18.4019V17.6709H19.8853V18.7031ZM17.3149 17.6709V14.3486C17.3149 13.6969 17.3377 12.9609 17.3833 12.1406H17.3286C17.1099 12.5781 16.9048 12.9404 16.7134 13.2275L13.5894 17.6709H17.3149Z"
          fill="black" fill-opacity="0.25" />
      </svg>
    </div>
  </div>

  <div class="content">
    <div class="search">
      <div class="column">
        <p>Выберите источник</p>
        <nz-select style="width: 200px;" [(ngModel)]="selectedValue1" nzAllowClear nzPlaceHolder="Не выбрано">
          <nz-option nzValue="jack" nzLabel="Выбор 1"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Выбор 2"></nz-option>
          <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
      </div>
      <div class="column">
        <p>Дата заезда</p>
        <nz-date-picker [(ngModel)]="date1" (ngModelChange)="onChange($event)"></nz-date-picker>
      </div>
      <div class="column">
        <p>Дата выезда</p>
        <nz-date-picker [(ngModel)]="date2" (ngModelChange)="onChange($event)"></nz-date-picker>
      </div>
      <div class="column">
        <p>Тарифный план</p>
        <nz-select style="width: 200px;" [(ngModel)]="selectedValue2" nzAllowClear>
          <nz-option nzValue="jack" nzLabel="Тариф 1"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Тариф 2"></nz-option>
          <nz-option nzValue="Все тарифы" nzLabel="Все тарифы"></nz-option>
          <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
      </div>
      <div class="column">
        <p>Тип номера</p>
        <nz-select style="width: 200px;" [(ngModel)]="selectedValue3" nzAllowClear>
          <nz-option nzValue="jack" nzLabel="Номер 1"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Номер 2"></nz-option>
          <nz-option nzValue="Все типы номеров" nzLabel="Все типы номеров"></nz-option>
          <!-- <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option> -->
        </nz-select>
      </div>
      <button nz-button nzType="primary" class="search-btn" (click)="showSecond()">Поиск</button>

    </div>
    <div class="info">
      <div class="first">
        <div class="room-number-text">
          <div>
            <p>Номера</p>
          </div>

        </div>
        <div>
          <app-template [hidden]="!counterComponent.template"></app-template>
          <div [hidden]="!counterComponent.choosen_rooms">
            <div class="room-number-info" *ngFor="let room of counterComponent.array_rooms; let y = index">
              <div class="choosen-room">
                <div class="title">
                  <div class="title-block">
                    <p>
                      <b>{{room.type}}</b>
                    </p>
                  </div>

                  <div class="title-block" (click)="svg(counterComponent, y)">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M23.5 12C23.5 18.3513 18.3513 23.5 12 23.5C5.64873 23.5 0.5 18.3513 0.5 12C0.5 5.64873 5.64873 0.5 12 0.5C18.3513 0.5 23.5 5.64873 23.5 12Z"
                        fill="white" stroke="#D9D9D9" />
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9936 7.78137C17.9007 7.68845 17.7656 7.63664 17.6345 7.63664H15.1137V6.85131C15.1137 6.32019 14.6822 5.88867 14.1511 5.88867H9.84817C9.31705 5.88867 8.88554 6.32019 8.88554 6.85131V7.63664H6.35197C6.08307 7.63664 5.86304 7.85507 5.86304 8.12557C5.86304 8.39607 6.08147 8.6145 6.35197 8.6145H6.78349V17.1234C6.78349 17.6545 7.215 18.086 7.74612 18.086H16.3904C16.9215 18.086 17.353 17.6545 17.353 17.1234V8.6145H17.6342C17.9031 8.6145 18.1367 8.39607 18.1367 8.12557C18.137 7.9958 18.0865 7.8743 17.9936 7.78137ZM7.25746 17.839C7.27669 17.8598 7.29698 17.8786 7.31754 17.8973L7.31753 17.8973C7.29697 17.8786 7.27642 17.8598 7.25746 17.839ZM7.38964 17.9138C7.40897 17.9348 7.42864 17.9559 7.44797 17.9721C7.43589 17.962 7.42448 17.9499 7.41239 17.9372C7.40514 17.9296 7.39766 17.9217 7.38964 17.9138ZM14.1468 6.85425H9.84657V7.64492H14.1468V6.85425ZM16.3888 17.122H7.74612V8.6145H8.99155H16.3888V17.122ZM11.5016 10.7446C11.5016 10.4728 11.7214 10.253 11.9932 10.253C12.2651 10.253 12.4848 10.473 12.4848 10.7446V15.3057C12.4848 15.5775 12.2651 15.7973 11.9932 15.7973C11.7214 15.7973 11.5016 15.5775 11.5016 15.3057V10.7446ZM9.33041 10.253C9.05857 10.253 8.83881 10.4728 8.83881 10.7446V15.3057C8.83881 15.5775 9.05857 15.7973 9.33041 15.7973C9.60224 15.7973 9.82201 15.5775 9.82201 15.3057V10.7446C9.82201 10.473 9.60197 10.253 9.33041 10.253ZM14.1372 10.7446C14.1372 10.4728 14.357 10.253 14.6288 10.253C14.9006 10.253 15.1204 10.473 15.1204 10.7446V15.3057C15.1204 15.5775 14.9006 15.7973 14.6288 15.7973C14.357 15.7973 14.1372 15.5775 14.1372 15.3057V10.7446Z"
                        fill="#F5222D" />
                    </svg>
                  </div>

                  <div class="title-block">
                    <p>
                      <b>{{room.price}}</b>
                    </p>
                  </div>
                </div>
                <p>{{room.date}}</p>
                <p>{{room.text}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <app-template-info [hidden]="!first"></app-template-info>
        <app-booking-second-step [hidden]="!second"></app-booking-second-step>
      </div>
      <div class="payment">
        <div>
          <p>Итого без налогов</p>
          <p>
            <b>{{counterComponent.pay1}}</b>
          </p>
        </div>
        <div>
          <p>Итого включая налоги</p>
          <p>
            <b>$0.00</b>
          </p>
        </div>
        <div>
          <p>Предложенный депозит</p>
          <p>
            <b>$0.00</b>
          </p>
        </div>
        <div class="summery">
          <p>Итого к оплате</p>
          <p>
            <b>{{counterComponent.pay1}}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="button-next">
      <div *ngIf="counterComponent.disableBtn">
        <button nz-button nzType="primary" disabled class="button-next">Следующий этап</button>
      </div>
      <div *ngIf="!counterComponent.disableBtn">
        <button nz-button nzType="primary">Следующий этап</button>
      </div>

    </div>

  </div>

</div>