<div class="room-number-info ">
  <div>
    <svg width="34" height="29" viewBox="0 0 34 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.9998 12.4284V24.857" stroke="#D9D9D9" stroke-linejoin="round" />
      <path d="M10.7854 18.6427L23.214 18.6427" stroke="#D9D9D9" stroke-linejoin="round" />
      <rect x="0.928711" y="8.78571" width="32.1429" height="19.7143" stroke="#D9D9D9" stroke-linejoin="round" />
      <rect x="0.928711" y="2.98572" width="32.1429" height="5.62857" stroke="#D9D9D9" stroke-linejoin="round" />
      <path d="M6.64307 0V6.21429" stroke="#D9D9D9" stroke-linejoin="round" />
      <path d="M27.3572 0V6.21429" stroke="#D9D9D9" stroke-linejoin="round" />
    </svg>
  </div>
  <p>Добавьте даты заезда-выезда, чтобы начать бронирование</p>
</div>