.room-number-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 3%;
}

.room-number-info div {
    margin-bottom: 1%;
}

p {
    text-align: center;
    width: 17%;
}